:root {
  --lightred: hsl(356, 100%, 66%);
  --lightred: hsl(355, 100%, 74%);
  --darkblue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayishblue: hsl(240, 2%, 79%);
  --darkgrayishblue: hsl(207, 13%, 34%);
  --darkblackblue: hsl(240, 10%, 16%);
  --verylightred: hsl(13, 100%, 72%);
  --lightred: hsl(353, 100%, 62%);
  --darkgrayblue: hsl(237, 17%, 21%);
  --darkdesaturatedblue: hsl(237, 23%, 32%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Overpass", sans-serif;
  color: var(--darkblue);
  display: flex;
  justify-content: center;
  text-align: center;
  /* min-height: 100%;*/
}

a {
  color: inherit;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 2.1rem;
  font-weight: 600;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
}
h4 {
  font-weight: 300;
  font-size: 1.12rem;
  margin: 20px 0 40px;
  opacity: 0.8;
}

p {
  color: var(--darkgrayishblue);
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* font-size: 1rem;*/
  /* font-weight: 400;*/
}

.flex {
  align-items: center;
  display: flex;
}

.invisible {
  display: none;
}

/* Wrapper */

.wrapper {
  background-color: var(--white);
  max-width: 375px;
}

/* Header */

header {
  background-image: url(images/bg-pattern-intro.svg),
    linear-gradient(var(--verylightred), var(--lightred));
  background-position: 40% 34%;
  background-repeat: no-repeat;
  background-size: 1300px;
  border-radius: 0 0 0 100px;
  color: var(--white);
  padding: 55px 25px 145px;
  /*padding: 40px 25px 155px;*/
}
/* END Header */

/* Start Nav bar */

nav {
  justify-content: space-between;
  position: relative;
}

.nav-logo {
  width: 85px;
  /*height: 50px;*/
}

.nav-menu {
  background-color: var(--white);
  border-radius: 7px;
  box-shadow: var(--grayishblue) 0px 20px 35px -10px;
  color: var(--darkblue);
  position: absolute;
  /*height: 60px;*/
  /*font-size: 1.5rem;*/
  /*font-weight: 700;*/
  transition: all 0.5s;
  padding: 10px 25px 20px;
  width: 100%;
  top: 75px;
}

.nav-menu-visibility {
  display: none;
}

.nav-menu-list {
  border-bottom: 1px solid hsl(240, 2%, 94%);
}

.nav-main-link-container {
  cursor: pointer;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 22px auto;
  padding: 0;
  /*margin-top: 10px;*/
  /*margin-right: 10px;*/
}

.nav-menu-controller:hover {
  background-color: transparent;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.nav-main-link {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 5px 10px 0 0;
}

.active-nav-menu,
.nav-main-link:hover,
.nav-login-btn:hover {
  color: var(--darkblue);
}

.nav-menu-list img {
  /*margin: 30px auto;*/
  width: 11px;
}
.nav-secondary-menu {
  background-color: var(--white);
  border-radius: 5px;
  margin: 20px 0 0;
  padding: 10px 0;
  width: 100%;
}
.nav-secondary-menu a {
  color: var(--darkblue);
  display: block;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 20px auto;
}

.nav-secondary-menu a:hover {
  color: var(--darkblue);
}

.nav-secondary-menu-visibility {
  display: none;
}

.nav-btns {
  margin: 30px auto 5px;
}

.nav-btns a {
  font-family: "Overpass", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.nav-signup-btn {
  background-image: linear-gradient(
    to right,
    var(--verylightred) 20%,
    var(--lightred)
  );
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  padding: 11px 0;
  margin: 20px auto 10px;
  transition: all 0.5s;
  width: 130px;
  /* font-weight: 600;*/
}

.nav-signup-btn:hover {
  background-image: linear-gradient(to right, var(--lightred), var(--lightred));
  color: hsl(0, 0%, 100%);
}

.light-arrow {
  display: none;
}

.dark-arrow {
  display: inline-block;
}

.rotate {
  transform: rotate(180deg); /* JS */
}

.nav-menu-controller {
  cursor: pointer;
}

.nav-menu-controller img {
  width: 34px;
}

.nav-menu-controller .close-icon {
  width: 28px;
}
/* End Nav bar */

/* Introduction */

.introduction {
  padding: 110px 10px 0;
}

.introduction-btns {
  justify-content: space-between;
  padding: 10px 9px;
}

.introduction-btns a {
  font-size: 1rem;
  font-weight: 600;
}

.introduction-btns .btn {
  border: 1px solid var(--white);
  border-radius: 25px;
  padding: 15px 0;
  width: 135px;
  transition: background-color 0.2s;
}

.introduction-btns .btn:hover {
  border: none;
}

.start-btn {
  background-color: var(--white);
  color: var(--lightred);
}

.start-btn:hover {
  background-color: var(--lightred);
  color: var(--white);
}

.learn-btn:hover {
  background-color: var(--white);
  color: var(--lightred);
}
/* End Introdution */

/* Start design body */

.designed {
  background-image: url(images/illustration-editor-mobile.svg);
  background-position: 50% 175px;
  background-repeat: no-repeat;
  padding: 100px 25px 10px;
}

.designed-text-container {
  padding: 420px 15px 0;
}

.designed-text {
  margin-bottom: 45px;
}

/* Start Art Container*/

.art {
  background-image: linear-gradient(
    var(--darkgrayblue),
    var(--darkdesaturatedblue)
  );
  border-radius: 0 100px 0 100px;
  margin: 205px 0 0;
  padding-bottom: 100px;
}

.art-container {
  background-image: url(images/bg-pattern-circles.svg);
  background-position: 50% -235px;
  background-repeat: no-repeat;
  background-size: 158%;
  border-radius: 0 100px 0 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.art-img {
  margin: -183px auto 10px;
  width: 100%;
}

.art-text {
  padding: 0 35px 0;
}

.art h2 {
  color: var(--white);
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.art p {
  color: var(--grayishblue);
  letter-spacing: 0.5px;
  line-height: 1.75;
  font-family: "Overpass", sans-serif;
}
/* End Art Container*/

/* Start Benefits */

.benefits {
  background-image: url(images/illustration-laptop-mobile.svg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  margin: 60px 0 40px;
  padding: 395px 25px 10px;
}

.benefits-text {
  padding: 0 17px;
}

.benefits-text p {
  margin: 20px 0 40px;
}
/* End Benefits */

/* Start Footer */

footer {
  background-color: var(--darkblackblue);
  border-radius: 0 100px 0 0;
  color: var(--grayishblue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 75px 0;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-quicklinks {
  flex-direction: column;
  justify-content: center;
}

footer a {
  border: none;
  font-size: 1.1rem;
  margin-bottom: 13px;
  opacity: 0.8;
}

footer a:hover {
  border-bottom: 1px solid var(--grayishblue);
}

.footer-quicklinks-heading {
  font-weight: 700;
  margin: 40px 0 35px;
  opacity: 1;
}

.footer-quicklinks-heading:hover {
  border: none;
}
/* End Footer */

/* Attribution */

.attribution {
  background-color: var(--darkgrayblue);
  color: var(--white);
  font-size: 11px;
  text-shadow: none;
  margin: 0;
}

.attribution a {
  color: var(--verylightred);
  font-weight: 700;
}

.attribution strong {
  color: var(--lightred);
}
/* Attribution */
@media (min-width: 960px) {
  /* Wrapper */

  .wrapper {
    max-width: 1440px;
  }

  /* Header */

  header {
    background-image: url(images/bg-pattern-intro.svg),
      linear-gradient(340deg, var(--lightred) 36%, var(--verylightred));
    background-position: 25% 52%;
    background-size: 2900px;
    padding: 55px 150px 135px;
  }

  /* Navbar */

  .nav-logo {
    margin-right: 60px;
    width: 95px;
  }

  .nav-menu {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: var(--white);
    justify-content: space-between;
    position: relative;
    top: 0;
    padding: 0;
    opacity: 1;
  }

  .nav-menu-visibility {
    display: flex;
  }

  .nav-menu-list {
    display: flex;
    border-bottom: none;
  }

  .nav-main-link-container {
    margin: 0 30px 0 0;
    position: relative;
  }

  .nav-main-link {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 6px 0 0;
    font-family: "Ubuntu", sans-serif;
    opacity: 0.6;
  }

  .active-nav-menu,
  .nav-main-link:hover {
    border-bottom: 2px solid var(--white);
    color: var(--white);
    opacity: 0.9;
  }

  .nav-login-btn:hover {
    color: hsl(0, 0%, 100%);
    opacity: 0.9;
  }

  .nav-menu-list img {
    width: 10px;
  }

  .nav-secondary-menu {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    left: -25px;
    padding: 13px 0 13px 25px;
    position: absolute;
    text-align: left;
    top: 55px;
    width: 160px;
  }

  .nav-secondary-menu a {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.91rem;
    font-weight: 500;
    letter-spacing: 0;
    margin: 15px auto;
  }

  .nav-secondary-menu a:hover {
    font-weight: 600;
  }

  .nav-btns {
    display: flex;
    margin: 0;
  }

  .nav-btns a {
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
  }

  .nav-login-btn {
    opacity: 0.6;
    margin-right: 30px;
  }

  .nav-signup-btn {
    background-color: var(--white);
    background-image: none;
    color: var(--lightred);
    padding: 14px 0;
    margin: 0;
  }

  .nav-signup-btn:hover {
    background-image: none;
    background-color: var(--lightred);
  }

  .light-arrow {
    display: inline-block;
  }

  .active-light-arrow {
    opacity: 0.7;
  }

  .dark-arrow {
    display: none;
  }

  .nav-menu-controller {
    display: none;
  }

  /* Introduction */

  .introduction {
    padding: 115px 10px 0;
  }

  h1 {
    font-size: 3.55rem;
  }

  h4 {
    font-size: 1.2rem;
    margin: 15px 0 30px;
  }

  .introduction-btns {
    justify-content: center;
    gap: 15px;
  }

  .introduction-btns .btn {
    padding: 13px 0;
  }

  .introduction-btns .btn:hover {
    border: none;
  }

  /* Designed Body */

  .designed {
    background-image: url(images/illustration-editor-desktop.svg);
    background-position: 152% 0;
    background-size: 860px;
    height: 830px;
    padding: 65px 150px 10px;
    margin: 65px 0 0;
  }

  .designed h3 {
    font-size: 2.3rem;
  }

  .designed-text-container {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr; /*align text*/
    padding: 105px 15px 0;
  }

  .designed-text {
    margin-bottom: 80px;
  }

  .designed-text h3 {
    font-size: 1.55rem;
  }

  .designed-text p {
    margin-right: 15px;
  }

  /* Art Container */

  .art {
    background-image: linear-gradient(
      to right,
      var(--darkgrayblue),
      var(--darkdesaturatedblue)
    );
    height: 375px;
    margin: 45px 0 0;
    padding: 0;
  }

  .art-container {
    background-position: -200px -485px;
    background-size: 71%;
    display: grid;
    grid-template-columns: 1fr 1fr; /*align text*/
    height: 375px;
    /*width: 100px;*/
    /*margin-bottom: 10%;*/
    padding: 0 150px 0 105px;
    text-align: left;
  }

  .art-img {
    margin: -65px auto 10px;
    width: 95%;
  }

  .art-text {
    padding: 0 20px 0 35px;
    margin-bottom: 85px;
  }

  .art h2 {
    font-size: 2.5rem;
  }

  .art p {
    font-size: 1rem;
  }

  /* Benefits */

  .benefits {
    background-image: url(images/illustration-laptop-desktop.svg);
    background-position: -58% 0;
    background-size: 67%;
    margin: 115px 0 60px;
    padding: 65px 140px 160px;
  }

  .benefits-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /*align text*/
    text-align: left;
    padding: 105px 15px 0;
  }

  .benefits-text p {
    margin: 20px 0 60px;
  }

  /* Footer */

  footer {
    display: grid;
    align-items: start;
    padding: 65px 160px 30px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*align footer text*/
  }

  .footer-quicklinks {
    align-items: start;
    margin-top: 10px;
  }

  footer a {
    font-size: 1rem;
  }

  .footer-quicklinks-heading {
    font-weight: 500;
    margin: 0 0 35px;
  }
}
